{% extends 'pages/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center text-fluid">
        <h1 class="mt-5">Send your own letter to FCPS!</h1>
        <p class="lead">Hi! We're a group of current students at TJHSST writing a letter to the school board regarding their most recent proposal on TJ's admissions system, and we'd love if you could send your own!</p>
        <h3 class="mb-4"><a href="https://bit.ly/TJLetterToFCPS">Find the letter here!</a></h3>
      </div>
      <form name="form" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom pb-2 mb-4"> Who would you like to send it to?&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info" onclick="selectAll()">Select All</button><button type="button" id="dropdownButton" class="float-right" onclick="toggle()"><i class="fa fa-chevron-down" aria-hidden="true"></i></button></legend>
          <div id="who" class="hide">
            <div class="row">
              <div class="col">
                <div class="form-check form-check-inline">
                  <input checked class="form-check-input" type="checkbox" name="rep" id="rep1" value="kakeysgamarr@fcps.edu">
                  <label for="rep1"><img src="https://www.fcps.edu/sites/default/files/styles/staff_full/public/media/profile/091727-2032-Karen%20Keys-Gamarra-Final-web.jpg?itok=NrP6aIlP" width=145 height=180></img><br>Karen Keys-Gamarra<br><i>Member-at-Large</i></label>
                </div>
              </div>
              <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep2" value="aomeish@fcps.edu">
                <label for="rep2"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121920-2037%20Abrar%20Omeish%20web.jpg?itok=E3PACZjL" width=145 height=180></img><br>Abrar Omeish<br><i>Member-at-Large</i></label>
              </div>
              </div>
              <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep3" value="rsizemorehei@fcps.edu">
                <label for="rep3"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121917-2017_Rachna%20Sizemore%20Heizer%20web.jpg?itok=RIadk_lw" width=145 height=180></img><br>Rachna Sizemore Heizer<br><i>Member-at-Large</i></label>
              </div>
            </div>
              <div class="col">

              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep4" value="Megan.McLaughlin@fcps.edu">
                <label for="rep4"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121510-2139-Final%208x10-mmclaughlin.jpg?itok=0UnuCGvf" width=145 height=180></img><br>Megan McLaughlin<br><i>Braddock District Representative</i></label>
              </div>
            </div>
            </div>

            <div class="row">
              <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep5" value="evtholen@fcps.edu">
                <label for="rep5"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/111947-2057%20Elaine%20Tholen%20web.jpg?itok=8wuH0L1T" width=145 height=180></img><br>Elaine Tholen<br><i>Dranesville District Representative</i></label>
              </div>
            </div>

              <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="repHunt" value="mkmeren@fcps.edu">
                <label for="repHunt"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121903-2040_Melanie%20Maren%20web_0.jpg?itok=WzZ-ovgZ" width=145 height=180></img><br>Melanie K. Meren<br><i>Hunter Mill District Representative</i></label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep6" value="tdkaufax@fcps.edu">
                <label for="rep6"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121510-2107-Final_8x10-NEWtkaufax.jpg?itok=GwPLgw7n" width=145 height=180></img><br>Tamara Derenak Kaufax<br><i>Lee District Representative</i></label>
              </div>
            </div>
            <div class="col">

              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep7" value="rjanderson@fcps.edu">
                <label for="rep7"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121927-2054_Richardy%20Anderson%20web.jpg?itok=oBtNq7T1" width=145 height=180></img><br>Ricardy Anderson<br><i>Mason District Representative</i></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep9" value="klcorbettsan@fcps.edu">
                <label for="rep9"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121929-2026%20Karen%20Corbett%20Sanders%20web.jpg?itok=QmZ5C31j" width=145 height=180></img><br>Karen Corbett Sanders<br><i>Mount Vernon District Representative</i></label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep10" value="kvfrisch@fcps.edu">
                <label for="rep10"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121918-2039-1083%20Karl%20Frisch%20NEW%20web.jpg?itok=Jk0qD8Zz" width=145 height=180></img><br>Karl Frisch<br><i>Providence District Representative</i></label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep11" value="lhcohen@fcps.edu">
                <label for="rep11"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121931-2020%20Laura%20Jane%20Cohen%20web.jpg?itok=X7mixd9I" width=145 height=180></img><br>Laura Jane Cohen<br><i>Springfield District Representative</i></label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep12" value="sgpekarsky@fcps.edu">
                <label for="rep12"><img src="https://www.fcps.edu/sites/default/files/styles/staff_thumbnail/public/media/profile/121932-2016%20Stella%20Pekarsky%20web.jpg?itok=RNsq3UZH" width=145 height=180></img><br>Stella Pekarsky<br><i>Vice-Chair Sully District Representative</i></label>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep13" value="atif.qarni@governor.virginia.gov">
                <label for="rep13"><img src="https://www.education.virginia.gov/media/governorvirginiagov/secretary-of-education/images/atif_qarni_500.jpg" width=145 height=180></img><br>Atif Qarni<br><i>Secretary of Education</i></label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep14" value="ssbrabrand@fcps.edu">
                <label for="rep14"><img src="https://www.fcps.edu/sites/default/files/styles/staff_full/public/media/profile/brabrandportrait.jpg?itok=Xtf99-BR" width=145 height=180></img><br>Scott Brabrand<br><i>FCPS Superintendent</i></label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="checkbox" name="rep" id="rep15" value="‪ralph.northam@governor.virginia.gov‬">
                <label for="rep15"><img src="https://bloximages.newyork1.vip.townnews.com/richmond.com/content/tncms/assets/v3/editorial/2/e2/2e225c78-d38f-5735-bbe1-0e0275cd135d/5c54d8d3008f3.image.jpg" width=145 height=180></img><br>Ralph Northam<br><i>VA Governor</i></label>
              </div>
            </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Just some quick info&nbsp;<small class="text-muted">(this info will not be saved)</small></legend>
          <div class="form-group">
            <label for="name">Your Name:</label>
            <input name="name" type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input name="email" type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="message">Your own message to the board: (optional)</label>
            <textarea name="message" type="textarea" class="form-control" id="message" rows="4"></textarea>
          </div>
        </fieldset>
        <div class="form-group" id="div1">
          <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
